faiss-cpu==1.9.0.post1
huggingface-hub==0.27.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langchain==0.3.13
langchain-community==0.3.13
langchain-core==0.3.28
langchain-ollama==0.2.2
langchain-text-splitters==0.3.4
numpy==1.26.4
ollama==0.4.4
regex==2024.11.6
requests==2.32.3
semantic-router==0.0.20
sentence-transformers==3.3.1
streamlit==1.41.1
torch==2.6.0.dev20241225
torchaudio==2.6.0.dev20241225
torchvision==0.22.0.dev20241225
transformers==4.47.1
